/* General */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    background-image: url('./img/background.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

/* Iconos */

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

/* Fuentes */

.atkinson-hyperlegible-next{
    font-family: "Atkinson Hyperlegible Next", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.atkinson-hyperlegible-next-semibold{
    font-family: "Atkinson Hyperlegible Next", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }

/* Elementos */

/* Se añade una suave animación para los cambios de diseño en los elementos */
.generator-btn,
.details-btn,
.clean-btn,
.month-select,
.custom-input-file,
.upload-excel-btn,
.description input,
.card,
.cover img,
.description,
.alert-text{
    transition: 0.3s all ease;
}

header{
    display: flex;
    background-color: #FFFFFF;
    justify-content: space-between;
    box-shadow: 0 12px 5px rgba(0, 0, 0, 0.2);
    border-bottom: 3px solid #00743f;
}

.cfe-logo{
    height: 70px;
    width: 120px;
}

.suterm-logo{
    height: 70px;
    width: 70px;
    margin-right: 10px;
}

.main-cont-external{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

/* Contenedor interno principal */
.main-cont-internal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    height: 500px;
    max-height: 500px;
    width: 500px;
    margin: 20px;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 12px 5px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

h2{
    color: #00743f;
    text-align: center;
}

h3{
    color: #00743f;
    text-align: center;
}

.report-gif{
    height: 100px;
    width: 100px;
    margin: 10px;
}

/* Estilo personalizado para input que se utiliza para el archivo Excel*/
.upload-file-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.excel-file{
    display: none;
}

.custom-input-file{
    border: 2px solid #00743f;
    display: inline-block;
    padding: 8px 20px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.2);
}

.custom-input-file:hover{
    background-color: #00743f;
    color: #FFFFFF;
}

.current-excel-p,
.pinned-excel-p{
    margin-top: 12px;
}

.current-excel-span{
    color: #22a24b;
}

.pinned-excel-span{
    color: #4189ff;
}

.upload-excel-btn{
    margin-top: 12px;
    padding: 10px;
    background-color: #22a24b;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.upload-excel-btn:hover{
    background-color: #00743f;
}

.generator-cont{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.month-selector-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.month-select{
    width: 200px;
    padding: 8px, 12px;
    font-size: 16px;
    border: 2px solid;
    border-radius: 5px;
    cursor: pointer;
}

.month-select:focus{
    border: 2px solid #00743f;
    box-shadow: 0 0 8px rgba(34, 162, 75, 0.5);
    outline: none;
}

.generator-btn{
    background-color: #FFFFFF;
    color: #00743f;
    padding: 12px;
    border: 2px solid #00743f;
    border-radius: 8px;
    font-size: 20px;
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.generator-btn:hover{
    background-color: #00743f;
    color: #FFFFFF;
}

.generator-btn:active{
    padding: 10px;
}

/* Estilos para el modal de detalles y carga */
.details-alert{
    border-radius: 12px;
    background-color: #FFFFFF;
    box-shadow: 0 12px 5px rgba(0, 0, 0, 0.2);
}

.details-btn{
    background-color: #00743f;
    border-radius: 10px;
}

.load-title{
    color: #00743f;
}

/* Estilos para el contenedor del historial */

.historial-cont{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    background-color: #FFFFFF;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 12px 5px rgba(0, 0, 0, 0.2);
}

/* Contenedor que centra el boton */
.historial-cont div{
    display: flex;
    justify-content: center;
}

.historial-list{
    width: 100%;
    max-width: 800px;
    max-height: 400px;
    height: 80%;
    background-color: #FFFFFF;
    padding: 10px;
    border: 1px solid #00743f;
    border-radius: 10px;
    box-shadow: 0 6px 5px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    overflow-y: auto;
}

li{
    display: flex;
    font-size: 12px;
    margin: 5px;
}

.clean-btn{
    width: 300px;
    background-color: #FFFFFF;
    color: #00743f;
    border-color: #00743f;
    padding: 8px;
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border-radius: 8px;
}

.clean-btn:hover{
    background-color: #00743f;
    color: #FFFFFF;
}

.ext-alert-btn-cont{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.alert-btn-cont{
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 5%;
}

.alert-btn{
    background: #ffcd00;
    color: #222222;
    border: none;
    border-radius: 20px;
    padding: 6px;
    margin: 8px;
    cursor: pointer;
}

.alert-text{
    visibility: hidden; /* Oculto por defecto */
    width: 300px;
    background-color: #ffcd00;
    color: #333333;
    text-align: justify;
    border-radius: 8px;
    padding: 12px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Se posiciona el tooltip por encima del botón */
    margin-right: 1rem;
    opacity: 0;
}

/* Puntero del tooltip (triángulo) */
.alert-text::after{
    content: "";
    position: absolute;
    top: 100%; /* En la parte inferior del tooltip */
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
    left: 95%;
}

/* Se muestra el tooltip al pasar el ratón por encima del contenedor */
.alert-btn-cont:hover .alert-text{
    visibility: visible;
    opacity: 1;
}

/* Pie de página */

footer{
    display: flex;
    flex-direction: column;
    background-color: #333333;
    height: 500px;
    max-height: 1200px;
    box-shadow: -12px -8px rgba(0, 0, 0, 0.2);
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}

.card{
    width: 300px;
    /* background-color: #dbffef; */
    margin: 20px;
}

.cover{
    width: 100%;
    position: relative;
    overflow: hidden;
}

.cover img{
    width: 250px;
    position: relative;
    z-index: 1;
    display: block;
    top: 10px;
}

.card:hover .cover img{
    top: 0px;
}

.bg-img{
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    bottom: -60px;
    left: 0;
    border-radius: 15px 15px 0px 0px;
}

.card:nth-of-type(1) .bg-img{
    background-image: url(./img/office.jpg);
}

.card:nth-of-type(2) .bg-img{
    background-image: url(./img/office2.jpg);
}

.description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    background-color: #FFFFFF;
    padding: 15px;
    border-radius: 0px 0px 12px 12px;
}

.card:hover .description{
    background-color: #dbffef;
}

.description input{
    color: #FFFFFF;
    background-color: #22a24b;
    padding: 10px;
    border: none;
    border-radius: 6px;
    box-shadow: 0 8px 3px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.description input:hover{
    background-color: #00743f;
}

.title-modal{
    color: #00743f;
}

.body-modal{
    text-align: justify;
    font-size: 15px;
}

.columns-name{
    color: #22a24b;
}

.final-info{
    display: flex;
    justify-content: space-between;
    color: #6b736f;
    background-color: #222222;
    height: 100%;
    max-height: 100px;
    padding: 20px;
}

.final-info .information{
    display: flex;
    flex-direction: column;
}